<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Charger</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <nav
      class="
        navbar
        fixed-top
        navbar-expand-sm navbar-light
        justify-content-between
      "
      style="background-color: #87b7e2"
    >
      <div class="container" id="nav-barText">
        <a
          class="nav-link active navbar-brand"
          aria-current="page"
          href="/home"
        >
          <img
            src="https://e7.pngegg.com/pngimages/23/830/png-clipart-electric-vehicle-electric-car-toyota-prius-charging-station-automotive-battery-leaf-logo.png"
            alt=""
            width="40"
            height="30"
            class="d-inline-block align-text-top"
          />
          ChargR</a
        >
        <ul class="navbar-nav nav flex-row float-right">
          {% if session['username'] %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/signup">SignUp</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container" id="alerts">
      {% for category, msg in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{category}}">{{ msg }}</div>
      {% endfor %}
    </div>
    {% block content %} {% endblock %}

    <footer class="footer py">
      <div class="text-center">
        <span class="text-muted">
          Poorva Rathore
          <a href="https://github.com/poorvarathore05">
            <i class="fab fa-github text-danger"></i>
          </a>
        </span>
      </div>
    </footer>
    <script src="/static/app.js"></script>
  </body>
</html>
