{% extends 'base.html'%}{% block content %}
<div
  class="img-fluid img-thumbnail col-md-12 col-lg-12 col-sm-10"
  style="
    background-image: url('https://images.unsplash.com/photo-1625217527288-93919c99650a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDgzfHxlbGVjdGljJTIwY2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  "
>
  <div class="container mt-5">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
      <div class="shadow p-3 mb-5 bg-body rounded">
        <h3 class="text-center text-info">Login Here!!!</h3>
        <div class="px-2">
          <form method="POST" class="form-group">
            {{ form.hidden_tag() }} {% for field in form if
            field.widget.input_type != 'hidden'%}
            <p>
              {{field.label(class_='display-inline mt-4')}}
              {{field(class_='form-control')}} {% for err in field.errors %}
              <span class="form-text text-danger">{{err}}</span> {% endfor %}
            </p>
            {% endfor %}
            <button class="btn btn-primary btn-md mt-3">Login</button>
          </form>
          <a href="/signup">Register Here</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
